/*CSS For card transitions*/
.card-enter {
  opacity: 0;
}
.card-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.card-exit {
  opacity: 1;
}
.card-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

.login-form {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}
